
  <style>
.checkbox{
 left:<%= obj.x %>px;
 top:<%= obj.y %>px; 
 width:100px; 
 height:100px;

}
    </style>
    


          <span class="checkbox"><input type="checkbox"  style="width:100px; height:100px;"/></span>
      




