
  <style>
    .message{
        position:absolute; 
        border:0px solid black;
        opacity: 0.8;
        text-align:left;
        max-width:200px;
        overflow-x: auto; 
        overflow-y: auto;
        width:200px;
        font-size:11px;
    }
    </style>
    

          <span class="message" style="left:<%= obj.x %>px; top:<%= obj.y %>px;">
            <%= obj.title %>
          </span>





